<h2>Gerenciar Vagas</h2>
<form>
    <table>
        <tr>
            <td>
                <label>Id Vaga :</label>
            </td>
            <td>
                <input type="text" name="id" [(ngModel)] = "vaga.id">
            </td>
        </tr>

        <tr>
            <td>
                <label>Descrição :</label>
            </td>
            <td>
                <input type="text" name="descricao" [(ngModel)] = "vaga.descricao">
            </td>
        </tr>

        <tr>
            <td>
                <label>Foto :</label>
            </td>
            <td>
                <input type="text" name="foto" [(ngModel)] = "vaga.foto">
            </td>
        </tr>
        <tr>
            <td>
                <label>Requisitos Obrigatórios :</label>
            </td>
            <td>
                <input type="text" name="reqobrig" [(ngModel)] = "vaga.req_obrigatorio">
            </td>
        </tr>
        <tr>
            <td>
                <label>Requisitos Desejáveis :</label>
            </td>
            <td>
                <input type="text" name="reqdesj" [(ngModel)] = "vaga.req_desejaveis">
            </td>
        </tr>
        <tr>
            <td>
                <label>Salário :</label> 
            </td>
            <td>
                <input type="text" name="salario" [(ngModel)] = "vaga.remuneracao">
            </td>
        </tr>
        <tr>
            <td>
                <label>Loca de Trabalho :</label>
            </td>
            <td>
                <input type="text" name="local" [(ngModel)] = "vaga.local_trabalho">
            </td>
        </tr>

        <tr>
        </tr>
    </table>

    <table>
        <tr>  </tr>
        <tr>
            <td>
                <button type="button" (click)="cadastrar()">Cadastrar Vaga</button>
            </td>
            <td></td>
            <td>
                <button type="button" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
            </td>
            <td></td>
            <td>
                <button type="button" (click)="excluir(vaga.id)">Excluir Vaga</button><br>
            </td>
        </tr>
    </table>
</form>
   
<section class="lista-vagas">
    <div *ngFor="let vaga of vagas">
        <div class="card" style="width: 18rem;">
            <img src="assets\img\vagas\{{vaga.foto}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ID Vaga: {{vaga.id}}</h5>
              <h5 class="card-title">Vaga: {{vaga.descricao}}</h5>
              <p class="card-text">Requisitos Obrigatórios: {{vaga.req_obrigatorio}}</p>
              <p class="card-text">Requisitos Desejáveis: {{vaga.req_desejaveis}}</p>
              <p class="card-text">Salário: R$ {{vaga.remuneracao}},00</p>
              <p class="card-text">Local de Trabalho: {{vaga.local_trabalho}}</p>
              <button type="button" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
                <button type="button" (click)="excluir(vaga.id)">Excluir Vaga</button>
            </div>
          </div>
    
    </div>
</section>
