
<h2>Vagas Em aberto</h2>

<section class="lista-vagas">
  <div *ngFor="let vaga of vagas">

      <div class="card" style="width: 18rem;">
          <img src="assets\img\vagas\{{vaga.foto}}" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">ID Vaga: {{vaga.id}}</h5>
              <h5 class="card-title">Vaga: {{vaga.descricao}}</h5>
              <p class="card-text">Requisitos Obrigatórios: {{vaga.req_obrigatorio}}</p>
              <p class="card-text">Requisitos Desejáveis: {{vaga.req_desejaveis}}</p>
              <p class="card-text">Salário: R$ {{vaga.remuneracao}},00</p>
              <p class="card-text">Local de Trabalho: {{vaga.local_trabalho}}</p>
          </div>
      </div>

  </div>
</section>
